/***********************       Common Style
************************/

/* Font Include */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    margin-top: 8px;
    display: inline-block;
    border-radius: 4px;
    text-transform: uppercase;
    background-image: linear-gradient(45deg, #ec5197, #ec4c7a)
}

section {
    padding: 5%;
    height: 80vh;
}

.halt-width {
    width: 50%;
    height: 80vh;
    float: left;
    position: relative;
}

.halt-width img {
    width: 500px;
    height: 500px;
}

.halt-width img,
.info-content {
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.primary-colors {
    color: #ec4c7a;
}

.primary-bg {
    color: #ec4c7a;
}

.secondary-color {
    color: #707070;
}

section:nth-child(2) .info-content h3,
section:nth-child(3) .info-content h3 {
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: 400;
}

section:nth-child(2) .info-content p,
section:nth-child(3) .info-content p {
    margin: 0;
    font-size: 20px;
    min-width: 500px;
}

.banner,
.biography,
.latest-work,
.skill-secton,
.contact {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/*********************** 
  Navbar Section Start 
************************/
.header {
    height: 100px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    color: #fff;
    background-image: linear-gradient(45deg, #ec5298, #ed4b72);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.logo {
    height: 60%;
    padding: 20px 0;
}

.menu {
    float: right;
    line-height: 66px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
    opacity: 0.8;
    transition: 0.5;
}

.menu a:hover {
    opacity: 1;
}

/* Toggle Button */
.chk-btn {
    float: right;
}

.chk-btn img {
    width: 22px;
    margin-top: 38px;
    display: none;
}

#chk {
    position: absolute;
    /* checkbox hide */
    z-index: -9;
    visibility: hidden;
}



/*********************** 
   Banner Section Start 
************************/
.banner {
    margin-top: 20px;
    background-image: url(images/background-image/header-bg.png);
}

.banner .info-content h2 {
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 700;
}

/* Banner Image */
section.banner .halt-width:last-child {
    text-align: center;
}


/*********************** 
 Biography Section Start 
************************/
.biography {
    background-image: url(images/background-image/biography-bg.png);
}

.biography img {
    width: auto;
}

.biography .btn {
    text-transform: capitalize;
}

section:nth-child(3) .info-content p:last-child {
    text-align: justify;
}

p.small-text {
    color: #ec4c7a;
    margin: 20px 0 10px !important;
}


/*********************** 
 Latest Work Section Start 
************************/
section:nth-child(4) {
    height: 60vh;
    padding-top: 9%;
}

.latest-work {
    background-image: url(images/background-image/latest-work-bg.png);
}

.latest-work h2 {
    text-align: center;
    margin-bottom: 42px;
    font-size: 30px;
}

.latest-work .img-thamble {
    width: 33.333333%;
    float: left;
}

.latest-work .img-thamble img {
    width: 90%;
}


/*********************** 
 Client Area Section Start 
************************/
section:nth-child(5) {
    height: 60vh;
    padding-top: 9%;
    padding-bottom: 9%;
}

.client-area {
    background-image: url(images/background-image/footer-bg.png)
}

.client-area h2 {
    text-align: center;
    margin-bottom: 42px;
    font-size: 30px;
}

.client-area .info {
    max-width: 35%;
    margin: auto;
    margin-top: 70px;
    text-align: center;
}

.client-area .info p:first-child {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -7px;
}

.client-area .info p:nth-child(2) {
    margin-bottom: 20px;
}

.client-area .info p:last-child::after,
.client-area .info p:last-child::before {
    content: "**";
}

.client-area a {
    color: #fff;
    text-decoration: none;
}

.client-area .email-box {
    padding: 50px;
    width: 50%;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    border-radius: 15px;
    background-image: linear-gradient(45deg, #ec5298, #ed4b72);
}

.client-area .email-box p {
    margin: 0 0 20px;
    font-size: 20px
}

.client-area .email-box h5 {
    margin: 0;
    font-size: 25px
}



/*********************** 
   Skill Section Start 
************************/
section:nth-child(6) {
    height: 50vh;
    padding-top: 9%;
    overflow: hidden;
}

.skill-secton {
    background-image: url(images/background-image/latest-work-bg.png);
}

.skill-secton h2 {
    text-align: center;
    margin-bottom: 42px;
    font-size: 30px;
}

.skill-content {
    width: 70%;
    margin: auto;
}

.skills {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    background-color: #ddd;
}

.skill-title {
    font-size: 14px;
    margin-bottom: 5px;
}

.skills-bar {
    height: 10px;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #ec5298, #ed4b72);
}

.skills-bar .percentage {
    font-size: 14px;
    padding: 7px;
    left: 99%;
    top: -24px;
    border-radius: 50%;
    position: absolute;
    background-image: linear-gradient(90deg, #f6af3200, #ed596e);
}



/*********************** 
  Contact Section Start 
************************/
section:nth-child(7) {
    height: 60vh;
    padding-top: 12%;
    padding-bottom: 12%;
    overflow: hidden;
}

.contact {
    /*
     filter: blur(1px);
  -webkit-filter: blur(1px);
*/
    background-image: url(images/background-image/contact-bg.jpg);
}

.contact h2 {
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 42px;
    font-size: 30px;
}

.contact-content {
    position: relative;
    height: 350px;
    text-align: center;
    padding: 50px 80px;
    border-radius: 10px;
    overflow: hidden;
    background-image: linear-gradient(90deg, #f6af3275, #ed596eed);
    backdrop-filter: blur(5px);
}

.contact-content .form-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-content .group {
    width: 40%;
    float: left;
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
}

.contact-content .group:last-child {
    width: 95%;
}

.contact-content .group:first-child {
    margin-right: 100px;
}

.contact-content .group i {
    position: absolute;
    top: 26px;
    left: 20px;
    font-size: 20px;
}

.contact-content input,
.contact-content textarea {
    width: 100%;
    padding: 25px 15px 25px 50px;
    border-radius: 7px;
    outline: none;
    border: 0;
    opacity: 0.7;
    font-size: 15px;
    font-weight: 700;
    transition: 0.5s;
    border: 5px solid #00000000;
}

.contact-content input:hover,
.contact-content textarea:hover {
    opacity: 1;
}

.contact-content input:focus,
.contact-content textarea:focus {
    border: 5px solid #ccc;
    font-weight: 400;
}

.contact-content .inputBtn {
    float: right;
    margin-right: -6%;
    margin-top: -2%;
    opacity: 0.7;
    transition: 0.4s;
}

.contact-content .inputBtn:hover {
    opacity: 1;
}

.contact-content .inputBtn input {
    padding: 11px 25px;
}

.contact-content .inputBtn input:hover {
    cursor: pointer;
}



/*********************** 
   Footer Section Start 
************************/
footer {
    padding: 30px;
    font-weight: 600;
    text-align: center;
}
