/***********************            Common Style
************************/

/* Font Include */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333333;
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    margin-top: 8px;
    display: inline-block;
    border-radius: 4px;
    text-transform: uppercase;
    background-image: linear-gradient(45deg, #ec5197, #ec4c7a)
}

section {
    padding: 5%;
    height: 80vh;
}

.halt-width {
    width: 50%;
    height: 80vh;
    float: left;
    position: relative;
}

.halt-width img {
    width: 500px;
    height: 500px;
}

.halt-width img,
.info-content {
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.primary-colors {
    color: #ec4c7a;
}

.primary-bg {
    color: #ec4c7a;
}

.secondary-color {
    color: #707070;
}

section:nth-child(1) .info-content h3,
section:nth-child(2) .info-content h3 {
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: 400;
}

section:nth-child(1) .info-content p,
section:nth-child(2) .info-content p {
    margin: 0;
    font-size: 20px;
    min-width: 500px;
}

.header,
.biography,
.latest-work {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/***********************        
  Header Section Start 
************************/
.header {
    background-image: url(images/background-image/header-bg.png);
}

.header .info-content h2 {
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 700;
}

/* Header Image */
section.header .halt-width:last-child {
    text-align: center;
}


/*********************** 
 Biography Section Start 
************************/
.biography {
    background-image: url(images/background-image/biography-bg.png);
}

.biography img {
    width: auto;
}

.biography .btn {
    text-transform: capitalize;
}

section:nth-child(2) .info-content p:last-child {
    text-align: justify;
}

p.small-text {
    color: #ec4c7a;
    margin: 20px 0 10px !important;
}


/*********************** 
 Latest Work Section Start 
************************/
section:nth-child(3) {
    height: 60vh;
}

.latest-work {
    background-image: url(images/background-image/latest-work-bg.png);
}

.latest-work h2 {
    text-align: center;
    margin-bottom: 42px;
    font-size: 30px;
}

.latest-work .img-thamble {
    width: 33.333333%;
    float: left;
}

.latest-work .img-thamble img {
    width: 90%;
}


/*********************** 
 Client Area Section Start 
************************/
.client-area {
    background-image: url(images/background-image/footer-bg.png)
}

.client-area h2 {
    text-align: center;
    margin-bottom: 42px;
    font-size: 30px;
}

.client-area .info {
    max-width: 35%;
    margin: auto;
    margin-top: 70px;
    text-align: center;
}

.client-area .info p:first-child {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -7px;
}

.client-area .info p:nth-child(2) {
    margin-bottom: 20px;
}

.client-area .info p:last-child::after,
.client-area .info p:last-child::before {
    content: "**";
}

.client-area a {
    color: #fff;
    text-decoration: none;
}

.client-area .email-box {
    padding: 50px;
    width: 50%;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    border-radius: 15px;
    background-image: linear-gradient(45deg, #ec5298, #ed4b72);
}

.client-area .email-box p {
    margin: 0 0 20px;
    font-size: 20px
}

.client-area .email-box h5 {
    margin: 0;
    font-size: 25px
}


/*********************** 
 Client Area Section Start 
************************/
footer {
    padding: 30px;
    font-weight: 600; 
    text-align: center;
}